<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Yours News!</h1>
            <p>Here is your safe space</p>
            <p>
                <a class="btn btn-primary btn-large" href="/news/new">Add New Article</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% articles.forEach(function(article){ %>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="<%= article.image %>">
                <div class="caption">
                    <h4><%= article.name %></h4>
                    <p><%=article.description %></p>
                </div>
                <p>
                    <a href="/news/<%= article._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>